[VarReport]
run_id = 140479-BC21
h5_concordance_file = /home/ec2-user/proj/BioinfoResearch/VariantCalling/src/python_tests/data/reports/test.untrained.h5
h5_model_file = /home/ec2-user/proj/BioinfoResearch/VariantCalling/src/python_tests/data/reports/test.trained.h5
const_model = untrained_ignore_gt_excl_hpol_runs
trained_model = threshold_model_recall_precision_ignore_gt_excl_hpol_runs
h5_output = test.var_report.h5
